/* RESPONSIVE DESIGN CSS */
html{
  width:100% !important;
  -webkit-text-size-adjust: 100%;
}
body{
  width:100% !important;
  overflow:hidden;
}

img{
    max-width: 100% !important;
    height:auto !important;
}
h1 {
    font-size: 2em;
}
iframe{
    max-width:100%;
}
.span-6, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24{
    width:100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
h1,h2,h3,h4,h6,p{
	padding: 0 5px;
}

#feature-shadow, #content-shadow{
  width:100%;
}
#institutional-nav {
  display: none !important;
}
header{
	border: 1px solid 		#000;
	background: 			#003366;
	color: 					#FFF;
	border-top: #FD7D00 2px solid;
	text-shadow: none;
    height:52px;
}

header .container{
    height:100%;
}

header #header-title #header-parent-organization-logo.uf{
    background: transparent url(../../images/responsive/responsive-sprite-transparent.png) -76px -150px no-repeat;
    width:64px;
    height:42px;
}

header #header-title{
    margin-top: 5px;
    padding-bottom:2px;
}

#header-title-text{
    font-size:1.6em !important;
    color:#FFF;
}

#header-title-tagline{
    font-size:.9em !important; 
    color:#FFF;
}

#header-title-text-right{
    height:auto;
	padding-top:4px;
}

#header-social, #searchform-wrap, #header-search-wrap{
  display: none;
}

#header-actionitem{
	position: relative;
	max-width: 200px;
    border-radius: 15px;
	color: #F1F1F1;
	line-height: 100%;
	text-shadow:none;
    right:5px;
    font-size:1em;
    padding:20px 4px;
    bottom:auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	text-decoration: none;
	background: -moz-linear-gradient(top, 
							#fff, 
							#f1f1f1);
	background: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#fff),
		color-stop(1, 		#f1f1f1));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#002C81', 
EndColorStr='#000')";
	text-shadow: none;
    color: #747272;
	margin: 0 auto;
}

#slideshow-wrap, #slideshow {
  background: transparent;
  margin:0 auto;
  padding:0;
  max-width: 100%;
}

#slideshow img{
  max-width: 100%;
}

#primary-nav ul{
  width:100% !important;
}

#primary-nav{
    position: absolute;
    bottom: auto;
    left:0;
    height:100%;
    width:250px;
    background: #fff;
	display:block;
    z-index:9999 !important;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	margin-left: -254px;
}


#primary-nav a:link, #primary-nav a:visited, #primary-nav a:focus, #primary-nav a:hover{ 
	background-color: transparent !important;
}

.pri-show{
	margin-left: 0 !important;
}

#primary-nav li, #primary-nav .children li{
	border: 1px solid 		#f1f1f1;
	text-decoration: none;
	background: -moz-linear-gradient(top, 
							#fff, 
							#f1f1f1);
	background: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#fff),
		color-stop(1, 		#f1f1f1));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#002C81', 
EndColorStr='#000')";
	text-shadow: none;
    width:100%;
    border-left:none;
    border-right:none;
}	
#primary-nav #home, #primary-nav #home:hover{
    width:100%;
    float:none !important;
    background:url(../../images/responsive/home-responsive.jpg) center center no-repeat;
    border-top: #FD7D00 2px solid;
    display:none;

}

#primary-nav li a{
  margin-top: 0px !important;
  color:#747272 !important;
  border-left:none;
  border-right:none;  
}

#secondary .span-12  {
  width:99%;
  margin-right: 10px;
  float:left;
}

.container {
  width:100% !important;
}
.screen-reader-text{
  display:none;
}
.excerpt {
  top: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 25% !important;
}
#institutional-footer #footer-links ul, #institutional-footer #footer-links p {
	padding: 0 10px;
}
#institutional-footer .uf-monogram{
  left: 50% !important;
}

#institutional-footer .footer_logo {
  position: relative;
  float: none;
  margin:0 auto;
  left: auto;
}
.flex-container{
    max-height:100%;
    margin-top:0px !important;
}
.flexslider{
    margin-bottom:0px;
	
	a, a:link, a:visited {
		-webkit-tap-highlight-color: transparent;
		color: #fff;
	}
}

.flex-caption h3:hover{
    text-decoration:none;
}
#feature-wrap{
    overflow:visible;
}


/* Submenu styling */
#sidebar-nav{
    background: #FFF;
    height:100%;
	width: 100%;
    margin-top: 0;
    float:right;
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    margin-bottom:13px;
    margin-right:0;
    margin-left:2px;
}
.active{
    left:0 !important;
}
#sidebar-nav li{
    background: transparent;
    padding-left: 0;
    margin-bottom: 0;
}
#sidebar-nav .shadow{
    display:none;
}
#sidebar-nav li a{
    padding-left: 28px; 
}
#sidebar-nav li .children a{
    background:#FFF url(../../images/bg-sprite-transparent.png) -1082px -1px no-repeat;
}
#sidebar-nav .current_page_item > a, #sidebar-nav .current_page_item > a:hover{
    background-color: #243778 !important;
}
.site-nav a{
    padding-left:35px !important;
}

.gform_body span,.gform_body textarea{
    width:95% !important;
}
.gform_body .ginput_right{
    float:none !important;
}
.gform input{
    width:100% !important;
}
.flex-caption{
    background: transparent;
    position: relative;
    margin-top: 4px;
    width:auto !important;
    padding:15px -1px 15px 20px;
    margin-left: 0;
}
.flexslider .slides .flex-caption img{
    border-bottom:none;
}
.flex-active-slide a{
	text-decoration:none;
}
#secondary.homepage_layout_white .news-announcements{
	border-bottom: none;
}

#primary-nav li {
    height: 100%;
}
#primary-nav li:hover, #primary-nav li.current-menu-item{
    background-position: 0 0;
}
#primary-nav .children{
    position: static;
    border: none !important;
}
#responsive-menu{
    display: block;
    background:#222;
    padding-bottom:2px;
    padding-left: 10px;
    height: 50px;
}
#responsive-menu li{
    position:relative;
    padding-right:5px;
    float:right;
    z-index:9998;
}
#responsive-grid{
    position:absolute;
    width:260px;
    left:100%;
    margin-top:25px;
    margin-left:-266px;
    height:242px;
    background: url('../../images/responsive/grid-background.png') no-repeat;
    z-index: 9999;
    display:none;
}
#responsive-menu-toggle{
	position:absolute;
	top: 70px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#responsive-menu-toggle a{
    width: 22px;
    height:22px;
    background: transparent url(../../images/responsive/responsive-sprite-transparent.png) -10px -144px no-repeat;
}

#grid-content{
    padding-top:20px;
    overflow:auto;
}

#grid-content li{
    float: left;
    width:80px;
    text-align:center;
}
#grid-content li a{
    color: #FFF;
}
/* responsive search */
#responsive-header-search-wrap{
	position:absolute;
	top:107px;
	width:100%;
	height:44px;
	overflow:hidden;
}
#responsive-searchform-wrap{
	position: absolute;
	right:-240px;
	width: 238px;
	background: #222;
	border-bottom-left-radius: 5px;
	z-index: 9999;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#responsive-header-search-field{
    width: 220px;
    height: 35px;
	margin:2px;
	margin-top:1px;
    padding-left: 5px;
    border-radius:4px;
    color: #888; 
    border:none;
}
#responsive-header-search-field:focus{
    outline:none;
}

#responsive-header-search-btn{
    position:absolute;
    width:35px;
    height:35px;
    top:10px;
    left:203px;
    background: transparent url(../../images/responsive/responsive-sprite-transparent.png) -80px -76px no-repeat;
}

.widget {
    padding: 8px !important;
    margin:0 !important;
}
.widget img{
    max-width: 96% !important;
}
#breadcrumb{
    display:none;
}
#main-content{
    min-height: 400px;
}
#full-modal{
	color: transparent;
	background: transparent;
	background-color: transparent;
    position:absolute;
    width:100%;
    height:100%;
    z-index: -9999;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


#subpage-list{
	width: 100%; 
	float:left;
}

/* phone specific styles */

@media all and (max-width: 500px) {
    .flex-direction-nav{
        display:none;
    }
    .flex-caption h3{
        font-size:1.6em !important;
    }
}
.flex-control-nav{
    display:none;
}
#comment-container{
    display:none;
}
#sidebar-post{
    width:95%;
    margin-left:2%;
}
#institutional-footer{
    margin-top:20px;
}
#full-link{
    background: #D0D7EC;
	height: 46px;
	margin: 0;
	text-align: center;
	line-height: 46px;
	font-size: .9em;
	color: #747272;
	cursor:pointer;
}



.responsive-embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.responsive-embed iframe,
.responsive object,
.responsive-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* retina sprites */
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	header #header-title #header-parent-organization-logo.uf{
    	background: transparent url(../../images/responsive/responsive-sprite-transparent.png) -128px -3px no-repeat; 
		background-size: 241px 241px; 
	}
	#responsive-header-search-btn{
		background: transparent url(../../images/responsive/responsive-sprite-transparent.png) -166px -53px no-repeat;
		background-size: 241px 241px; 
	}
}

/* shortcode_mobileonly styling */
.shortcode_mobileonly{
	display: block;
}
.shortcode_fullonly{
	display: none;
}


/* Insitutional Nav */
#institutional-nav-min {
    position: absolute;
	right:0;
    top: 55px;
    height: 47px;
	width: 90%;
    width: calc(100% - 30px);
    width: 40px; 
    margin: 0 auto;
    overflow: hidden;
}
#inst-logo a,
#inst-links,
#inst-links a,
#inst-nav-toggle  {
    background-image: url('../../images/responsive/institutional-sprite.png');
    background-size:135px 85px;
    background-repeat: no-repeat;
    background-color: transparent;
}
#inst-logo {
    width: 960px;
    margin: 0 auto;
}
#inst-logo a {
    display: block;  
    width: 135px;
    height: 25px;
    margin: 10px;
    text-indent: -9999px;
}
#inst-nav {
    position: absolute;
    width: 318px;
    height: 45px;
    right: -270px;
    top: 3px;
    background-color: #222; 
    z-index: 99999;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#inst-nav.toggle {
    right: 0;
}
#institutional-nav-min.toggle{
	width:100%;
	z-index: 300;
}
#responsive-menu-toggle.toggle{
	left:-22px;
}
#responsive-searchform-wrap.toggle{
right:0;
}
#inst-links {
    display: inline-block;
    height: 54px;
    background-color: #888;
    background-position: -120px -41px;
    width: 270px;
}
#inst-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-left: 10px;
    text-indent: -9999px;
    border-radius: 3px;
    text-align: center;
    *float: left;
}
#inst-links a:hover {
    background-color: #ff9933;
}
#inst-links a:first-child {
    margin-left: 25px;
}
#inst-links a:last-child {
    margin-right: 15px;
}
#inst-links .directory { background-position: -30px -25px; }
#inst-links .e-learning{ background-position: -60px -25px; }
#inst-links .webmail { background-position: -90px -25px; }
#inst-links .isis { background-position: 0px -55px; }
#inst-links .myufl { background-position: -30px -55px; }
#inst-links .campus-map { background-position: -60px -55px; }

#inst-nav-toggle {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 7px 8px 7px 10px;
    background-position: 0px -25px;
    cursor: pointer;
    text-indent: -9999px;
    *float: left;
}
#inst-links a span {
    display: block;
    position: absolute;
    bottom: -30px;
    text-indent: 0;
    padding: 5px 10px;
    background: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 0;
    border-radius: 3px;
    display: none;
}
#inst-links a:hover span {
    transition-delay: .5s;
    -webkit-transition-delay: .5s;
    opacity: 1;
}

/* Responsive styles for tablets and smaller devices */
@media screen and (max-width: 1024px){
    #institutional-nav {
        z-index: auto;
    }
    #inst-logo a{
        display: none;
    }
}

/* HD/"retina" sprites */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
    #inst-logo a,
    #inst-links,
    #inst-links a,
    #inst-nav-toggle  {
        background-image: url('../../images/responsive/institutional-sprite2X.png');
    }
}
#sidebar-nav .sidebar_widget ul li, .sidebar_widget ul li{
	background: transparent url("../../images/bg-sprite-transparent.png") -1204px -567px no-repeat;
}
#sidebar-nav li .children a{
	background: transparent;
}

/* gravity form styling */
.gform_wrapper {
	margin: 10px;
	max-width: 100%;
}
