/*-  UFL.EDU MENU STYLES
----------------------------------------------------------------------*/

#primary-nav {
	background: transparent url(../../images/bg-primary-nav.jpg) 0 0 repeat-x;
  bottom: 0;
	font-size: 1.5em;
  height: 49px;
  left: 0;
  padding-left: 0;
  position: relative;
  z-index: 99997;
  -moz-box-shadow: -5px 1px 4px #7E7E7E;   
	-webkit-box-shadow: 0 1px 4px #7E7E7E; 
	box-shadow: 0 1px 4px #7E7E7E; 
}
#primary-nav .container {
	z-index: 99999;
}
#primary-nav li {
	float: left;
	height: 49px;
	background: transparent url(../../images/bg-primary-nav-item.jpg) 0 -147px repeat-x;
}
#primary-nav li:hover {
	background-position: 0 -98px;
}
#primary-nav li:active {
	background-position: 0 0;
}
#primary-nav a {
	border-left: 1px solid #20346D;
	border-right: 1px solid #6377B2;
	display: block;
	margin-top: 5px;
	text-align: center;
  background-repeat: no-repeat;
  font-family: ufshands, Helvetica, Arial, sans-serif;
  height: 17px;
  padding: 7px 20px 15px;
}
#primary-nav #home a {
  border-left: none;
}
.home #home a,
#primary-nav .current_page_ancestor .current_page_item a,
#primary-nav .current_page_item > a {
  cursor: default;
}
#primary-nav .current_page_ancestor .current_page_item a:hover,
#primary-nav .current_page_item > a:hover {
  text-decoration: none;
}
#primary-nav .current_page_ancestor .current_page_item a,
#primary-nav .current_page_ancestor .current_page_item a:hover {
  background-color: #D7DEF0;
  color: #243778;
}
#primary-nav .children {
	display: none;
	font-size: .8em;
	text-align: left;
/*	background-color: #6377B2;*/
  background-color: transparent;
	margin: 0;
	padding: 0;
	/*-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);*/
}
#primary-nav .children li {
	background-image: none;
	height: 100%;
}
#primary-nav .parent li.current_page_item a {
	color: #FFF;
}
#primary-nav .parent li.current_page_item {
  border-top: none;
	border-bottom: none;
} 
#primary-nav li.current_page_item,
#primary-nav li.current_page_ancestor,
body.page-id-21 #primary-nav li.menu-item-21,
body.page-id-27 #primary-nav li.menu-item-27,
body.page-id-31 #primary-nav li.menu-item-31,
body.page-id-35 #primary-nav li.menu-item-35,
body.page-id-39 #primary-nav li.menu-item-39,
body.page-id-43 #primary-nav li.menu-item-43  {
	color: #243778;
	background-position: 0 -49px;
	border:none;
}

#primary-nav li.current_page_ancestor {
  background-position: 0 -196px;
}
#primary-nav li:hover > ul {
	display: block;
}
#primary-nav .children {
	z-index: 99999;
}
#primary-nav .children li {
	float: none;
	height: 100%;
}
#primary-nav .children a {
	padding: 10px 25px;
	text-align: left;
	height: 100%;
	background-image: none;
	border: none;
}
#primary-nav #home {
	background-image: url(../../images/bg-sprite-flat.jpg);
	background-position: -304px -191px;
	padding: 0;
	height: 49px;
	width: 72px;
}
#primary-nav #home:hover {
  background-position: -304px -142px;
}
#primary-nav #home:active {
	background-position: -304px -44px;
}
.home #primary-nav #home {
  background-position: -304px -93px;
}
.home #primary-nav #home a,
#primary-nav li.current_page_item > a:first-child,
body.page-id-21 #primary-nav li.menu-item-21 > a:first-child,
body.page-id-27 #primary-nav li.menu-item-27 > a:first-child,
body.page-id-31 #primary-nav li.menu-item-31 > a:first-child,
body.page-id-35 #primary-nav li.menu-item-35 > a:first-child,
body.page-id-39 #primary-nav li.menu-item-39 > a:first-child,
body.page-id-43 #primary-nav li.menu-item-43 > a:first-child
{
	border: none;
	color: #243778;
}
#primary-nav .parent a {
	padding-right: 35px;
	background: transparent url(../../images/bg-dropdown-icon.png) 92% 16px no-repeat;
}
#primary-nav .parent li a {
	background: transparent url("../../images/bg-sprite-transparent.png") -1204px -565px no-repeat; 
	margin-top: 0;
}
#primary-nav .parent li a:hover, #primary-nav ul li .sub .children li a:hover {
/*	background-color: #13255f;*/
}


/* Mega Menu  */

#primary-nav .children {
  width: auto;
}

/* Hack for Academics menu so the ufl-menu.js clears */
#primary-nav .three-column, #primary-nav .three-column-no-js {
  width: 696px;
  float: left;
}

#primary-nav ul li .sub {
	position: absolute;
	left: 0px;
  display: none;
	text-align: left;
	width: 930px;
	padding: 10px;
	z-index: 100;
  border: 5px solid #fff;
  border-top: none;
  top: 45px;
  background: url("../../images/bg-mega-sub.jpg") repeat-x scroll 0 0 #172a79;
  -webkit-box-shadow: inset 0 0 2px #334787;
  -moz-box-shadow: inset 0 0 2px #334787;
  box-shadow: inset 0 0 2px #334787;
}

#primary-nav ul li .sub .children {
	display: block;
  text-align: left;
	z-index: 100;
  line-height: 1.1em;
}

.ie7 #primary-nav li {
  min-height: 0; /* fix pesky disappearing list bullets */
  line-height: 1.1em;
}

#primary-nav ul li .sub .children li {
	list-style: none;
	width: 212px;
	float: left;
	padding: 10px;
	margin: 0px;
}

#primary-nav ul li .sub .children li a {
	margin: 0px 0px 2px 0px;
	padding: 7px;
	font-size: 1em;
  border-top: 1px solid #6d92c8;
  margin-bottom: 4px;
  background: url("../../images/bg-sprite-transparent.png") no-repeat scroll 181px -439px #294d97;
  padding-right: 30px;
}

#primary-nav ul li .sub .children .current_page_item a,
#primary-nav ul li .sub .children li li.current_page_item a {
  background-color: #c2cbe9;
}

#primary-nav ul li .sub .children .current_page_item a {
  border-bottom-color: #FFF;
}

#primary-nav ul li .sub .children .current_page_item li a {
  background-color: transparent;
} 

#primary-nav ul li .sub .children .current_page_item li a:hover {
  color: #FFF;
  cursor: pointer;
  text-decoration: underline;
} 

#primary-nav ul li .sub .children .subchildren li {
  border: none;
}

#primary-nav ul li .sub .children .subchildren a {
  background: transparent url("../../images/bg-sprite-transparent.png") -1204px -565px no-repeat; 
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8em !important;
  padding-left: 18px;
}


#primary-nav ul li .sub .children li ul li {
	margin: 0px;
	padding: 0px;
	text-align: left;
}

#primary-nav ul li .sub .children li ul li a {
	margin: 0px;
	padding: 3px 3px 3px 0px;
	border: none;
	font-size: 1em;
}

#primary-nav ul li .sub ul li.two-wide {
    width: 444px;
}

#primary-nav ul li .sub ul li.two-wide a.heading {
    background-position: 413px -439px;
}

/* Use a class instead of :nth-child for IE since it is fundamental to the menu */
#primary-nav ul li .sub ul li.two-wide ul li.even {
    margin-left: 20px;
}

/* Make a fourth column for "interesting" content */
#primary-nav .content-column {
    width: 212px;
    min-height: 319px;
    font-size: 13px;
    float: right;
    padding: 10px;
}

#primary-nav .content-column > div:nth-of-type(2) {
    margin-top: 1.5em;
}

/* Reset a bunch of stuff applied generically above (from mega-menu.css) */
#primary-nav .content-column a,
#primary-nav .content-column li {
    background: none;
    border: none;
    height: auto;
    margin: 0;
    padding: 0;
}

#primary-nav .content-column a {
    font-weight: normal;
    text-align: left;
}

#primary-nav .content-column h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 2px;
}

#primary-nav .content-column h4,
#primary-nav .content-column li {
    font-size: 12px;
}

#primary-nav .content-column h4 {
    margin-bottom: 0;
}

#primary-nav .content-column li,
#primary-nav .content-column .item {
    float: none;
}

#primary-nav .content-column .rss li,
#primary-nav .content-column .rss .item {
    padding-bottom: 0.3em;
}

#primary-nav .content-column p a,
#primary-nav .content-column li a,
#primary-nav .content-column .item a {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px;
    padding-left: 3px;
}

#primary-nav .content-column li a,
#primary-nav .content-column .item a {
    padding-left: 18px;
}

#primary-nav .content-column h3 span {
    color: #ff4a10;
}

#primary-nav .content-column img {
    border: 0;
    margin-bottom: 5px;
}

#primary-nav .content-column #apply h3,
#primary-nav .content-column #economic-impact h3 {
    display: none;
}

#primary-nav .content-column #apply a,
#primary-nav .content-column #economic-impact a {
    text-align: center;
}

#primary-nav .content-column #spotlights p a:hover {
    color: #ff4a10;
    text-decoration: none;
}

#primary-nav .content-column #spotlights p a img {
    border: 3px solid #fff;
    margin-bottom: 0;
}

#primary-nav .content-column #spotlights p a:hover img {
    border-color: #ff4a10;
}

#primary-nav .content-column form input[type="text"] {
    background: white url(../../images/icon-search.png) no-repeat 98% center;
    color: #7e7e7e;
    font-family: Georgia, serif;
    font-size: 1em;
    font-style: italic;
    width: 98%;
    height: 1.75em;
    padding: 3px;
    margin: 0.5em 0 1em 0;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: 0 0 2px #bfbfbf;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0 0 2px #bfbfbf;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 0 2px #bfbfbf;
}

#primary-nav .content-column form input[type="submit"] {
    display: none;
}

#primary-nav .content-column li span.rss-date, #primary-nav .content-column .time {
    color: #b0bbe6;
    border-top: 1px dotted #54649b;
    font-size: 0.8em;
    margin-top: 4px;
    margin-left: 18px;
    padding-top: 2px;
}

#primary-nav .content-column .time {
    margin-left: 52px;
}

/* Copied from widgets.css */
#primary-nav .content-column .event-date {
    float: left;
    height: 50px;
    width: 42px;
    background: transparent url(../../images/bg-sprite-transparent.png) -750px -99px no-repeat;
    margin-right: 10px;
}

#primary-nav .content-column .month,
#primary-nav .content-column .day {
    position: absolute;
    width: 41px;
    text-align: center;
}

#primary-nav .content-column .month {
    font-size: .8em;
    top: 6px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

#primary-nav .content-column .day {
    font-size: 1.5em;
    top: 21px;
    color: #1F2E63;
    font-weight: bold;
}
/* End widgets.css duplication */

.ie6 #primary-nav .content-column .calendar .item,
.ie7 #primary-nav .content-column .calendar .item,
.ie8 #primary-nav .content-column .calendar .item {
    height: 50px;
}

.ie6 #primary-nav .content-column .event-date,
.ie7 #primary-nav .content-column .event-date,
.ie8 #primary-nav .content-column .event-date {
    margin-top: 10px;
}

.ie6 #primary-nav .content-column .month,
.ie7 #primary-nav .content-column .month,
.ie8 #primary-nav .content-column .month {
    top: 10px;
}

.ie6 #primary-nav .content-column .day,
.ie7 #primary-nav .content-column .day,
.ie8 #primary-nav .content-column .day {
    top: 32px;
}
#primary-nav abbr {border-bottom:none;}